<div class="container">
  <h1>Todo App</h1>

  <div class="state">
    <p>Celkový počet úloh: {{ todos.length }}</p>
    <p>Úlohy splnené {{ taskDone }} - {{ progress | number: '1.0-0' }} %. </p>
  </div> 
  
  <mat-progress-bar mode="determinate" [value]="progress" [color]="color"></mat-progress-bar>

  <form [formGroup]="toDoForm" (ngSubmit)="onSubmit()">
 
    <mat-form-field class="example-form-field">
      <mat-label>Zadať úlohu ( 3 - 25 znakov )</mat-label>
      <input 
        matInput 
        type="text"
        formControlName="task"
      >
    </mat-form-field>

    <button 
      type="submit" 
      [disabled]="toDoForm.invalid"
      mat-raised-button 
      color="primary"
    >
      Pridať úlohu
    </button>

    <button 
      mat-raised-button 
      color="primary"
      type="button"
      (click)="resetForm()"
    >
      Zmazať
    </button>
  </form><br>

  <!-- Table  -->

  <div 
    *ngFor="let item of todos; let i = index"
    class="todo">

    <div class="id" [ngClass]="{done: item.completed}">{{ i + 1 }}</div>

    <div class="content" [ngClass]="{done: item.completed}">{{ item.content }}
    </div>
  
    <mat-icon 
      (click)="doneTask(i)" 
      class="icon"
      [ngClass]="{done: item.completed}"
      matTooltip="Uloha splnena"
    >done</mat-icon>

    <mat-icon 
      (click)="deleteTask(i)"
      matTooltip="Zmazat ulohu"
    >close</mat-icon>

  </div>

  <button 
    mat-raised-button
    (click)="deleteAll()"
    color="primary"
    class="delete-button"
  >Zmazať úlohy</button>

</div>